<div class="rl-header">
  <div class="rl-header-left">
    <a id="naviconLeft" (click)="colapse()" class="rl-logo"> 
      <img src="assets/images/r-3-l-logo-application-02.png"
            srcset="assets/images/r-3-l-logo-application-02@2x.png 2x,
            assets/images/r-3-l-logo-application-02@3x.png 3x"
            class="analitycs"> </a>
  </div><!-- rl-header-left -->

  <div class="rl-header-right">
    <div class="dropdown dropdown-profile">
      <a class="nav-link nav-link-profile" data-toggle="dropdown">
        <span class="logged-name"><span class="">Admin Name</span> 
        <img src="assets/images/shape.png"
             class="analitycs">
      </span>
      </a>
      <div class="dropdown-menu wd-200">
        <ul class="list-unstyled user-profile-nav">
          <li><a href=""> Edit Profile</a></li>
          <li><a href=""> Sign Out</a></li>
        </ul>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- rl-header-right -->
</div><!-- rl-header -->