<div class="rl-mainpanel">
  <div class="rl-pagebody">
    <div class="row row-sm">
      <div class="col-md-4">
        <div class="Rectangle-2">
          <div class="card">
            <div class="card-header">
              <h3>
                Chain Store Age
              </h3>
              <p>
                Feb 22, 2016 
              </p>
            </div>
            <div class="card-body">
              <p>
                Billabong taps NetSuite to power omnichannel strategy
              </p>
              <img src="assets/images/billabong.jpeg">
              <p class="texto">
                Marianne WilsonNetSuite Inc., a provider of cloud-based financials, 
                ERP and and omnichannel software suites, said that boardsports retailer 
                Billabong International Ltd. selected NetSuite...
              </p>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <img src="assets/images/briefcase-icon.png" alt="">
                </li>
                <li style="text-align: center;">
                  <img src="assets/images/like-icon.png" alt="">
                </li>
                <li style="text-align: right;">
                  <img src="assets/images/arrow-right-icon.png" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
      
      <div class="col-md-4">
        <div class="Rectangle-2">
          <div class="card">
            <div class="card-header">
              <h3>
                Business Wire
              </h3>
              <p>
                Feb 18, 2016 
              </p>
            </div>
            <div class="card-body">
              <p>
                New Study Shows One Critical Industry Lagging Behind in Software Security
              </p>
              <p class="texto">
                  Marianne WilsonNetSuite Inc., a provider of cloud-based financials, 
                  ERP and and omnichannel software suites, said that boardsports retailer 
                  Billabong International Ltd. selected NetSuite...
              </p>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <img src="assets/images/briefcase-icon.png" alt="">
                </li>
                <li style="text-align: center;">
                  <img src="assets/images/like-icon.png" alt="">
                </li>
                <li style="text-align: right;">
                  <img src="assets/images/arrow-right-icon.png" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="Rectangle-2">
          <div class="card">
            <div class="card-header">
              <h3>
                Business Wire
              </h3>
              <p>
                Feb 13, 2016 
              </p>
            </div>
            <div class="card-body">
              <p>
                AlphaGo and the Declining Advantage of Big Companies
              </p>
              <img src="assets/images/billabong.jpeg">
              <p class="texto">
                  Panelists at CII's spring conference discuss governance implications of shift in US 
                  firms’ approach to capital allocation
                  When it comes to uses of cash, investors are slightly schizophrenic about...
              </p>
            </div>
            <div class="card-footer">
              <ul>
                <li>
                  <img src="assets/images/briefcase-icon.png" alt="">
                </li>
                <li style="text-align: center;">
                  <img src="assets/images/like-icon.png" alt="">
                </li>
                <li style="text-align: right;">
                  <img src="assets/images/arrow-right-icon.png" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="Rectangle-2">
          <div class="card">
            <div class="card-header">
              <h3>
                Chain Store Age
              </h3>
              <p>
                Feb 13, 2016 
              </p>
            </div>
            <div class="card-body">
              <p>
                Journelle, Alton Lane streamline process with NetSuite platform
              </p>
              <img src="assets/images/billabong.jpeg">
            </div>
          </div>
        </div>
      </div>

    </div><!-- row -->
  </div><!-- rl-pagebody -->
</div><!-- rl-mainpanel -->